<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <title></title>
</head>
<body>
    <div id='infopage'>
        <div id='sellbutton'><a href='{{ url_for('sell') }}'>SELL TICKETS NOW!</a></div>
        <div id='centeredcontainer'>
            <div id='salesinfo'>
                A quick note: I recently included eventbrite tickets in the counts, so they jumped. SELL MORE ON FRIDAY!
                <table id='salestable'>
                <tr class='salesline'>
                    <td class='daycol salesitem'>Night</td>
                    <td class='salecol salesitem' style='white-space: nowrap'>Tickets Sold</td>
                </tr>
                {% for night, sales in sales %}
                    <tr class='salesline'>
                        <td class='daycol salesitem'>{{ night }}</td>
                        <td class='salecol salesitem'>{{ sales }}/ {{ capacity }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
       <div id='logout'><a href='{{ url_for('logout') }}'>Logout</a></div>
       </div>
    </div>
</body>
</html>
