<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src='{{ url_for('static', filename='sell.js') }}'></script>
    <style>
        #textentry {

        }
    </style>
</head>
<body>
    <div id='ticketform' class='centeredcontainer'>
        <div id='textentry'>
            {% if ticket_id %}
            <span class='leftcol'>Ticket id:</span><label><input type='text' name='ticketid' value='{{ ticket_id }}'/></label>
            {% else %}
            <span class='leftcol'>Ticket id:</span><label><input type='text' name='ticketid'/></label>
            {% endif %}
        </div>
        <div id='ticketkind'>
            <label> <input type='radio' name='ticketkind' value='1'/> ARC </label><br/>
            <label> <input type='radio' name='ticketkind' value='2'/> Circus member </label><br/>
            <label> <input type='radio' name='ticketkind' value='3'/> Student </label><br/>
            <label>
                <input type='radio' name='ticketkind' value='4'/>
                General admission
            </label><br/>
        </div>
        <div id='night'>
            <label><input type='radio' name='ticketnight' value='1' />Thursday</label><br/>
            <label><input type='radio' name='ticketnight' value='2' />Friday</label><br/>
            <label><input type='radio' name='ticketnight' value='3' />Saturday</label><br/>
        </div>
        <input id='bookthatmofo' type='submit' value='Book!' />
    </div>
</body>
</html>
